@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
}

.image-container {
  max-width: 380px;
}

.image-container > img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

/* media and screen */
@media screen and (max-width: 1024px) {
  .image-container {
    max-width: 300px;
  }

  .image-container > img {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    max-width: 300px;
  }

  .image-container > img {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 549px) {
  .image-container > img {
    margin: 0.9rem 0;
  }
}
